<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Posts Lists</h3>
      <div>
        <a
          href="javascript:void(0)"
          routerLink="/home/post/add"
          class="btn btn-primary"
          >Add Post</a
        >
      </div>
      <table class="table table-striped" *ngIf="posts | async as PostData">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of PostData">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.description }}</td>
            <td>
              <a
                href=""
                class="btn btn-primary"
                [routerLink]="['edit', post.id]"
                >Update</a
              >&nbsp;
              <button class="btn btn-danger" (click)="onDeletePost(post.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
