<div class="password-container">
    <section class="container-fluid">
        <!-- row and justify-content-center class is used to place the form in center -->
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-4">
                <form class="form-container" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <img class="logo-format" src="../../assets/images/tech_stack_icon.png">
                        <label for="oldPassword"><b>Old password:</b></label>
                        <div class="input-container">
                            <i class="fa fa-key icon"></i>
                            <input type="password" formControlName="oldPassword" class="form-control" id="oldPassword"
                                aria-describeby="emailHelp" placeholder="Enter old password" name="oldPassword"
                                [ngModel]=oldPassword (keyup)="comparePasswords(forgotPasswordForm.controls.oldPassword.value,
                                forgotPasswordForm.controls.newPassword.value, forgotPasswordForm.controls.confirmPassword.value)" required>
                        </div>
                        <pre class="error-text-format">{{(!forgotPasswordForm.controls.oldPassword.valid && forgotPasswordForm.controls.oldPassword.dirty) 
                            || (forgotPasswordForm.controls.oldPassword.touched && !forgotPasswordForm.controls.oldPassword.valid)
                            ? 'Please provide a valid old password' : ''}}</pre>
                        <pre class="error-text-format">{{validOldPassword ? 'Old Password cannot be same as New Password' : ''}}</pre>
                    </div>
                    <div class="form-group new-password-format">
                        <label for="newPassword"><b>New password:</b></label>
                        <div class="input-container">
                            <i class="fa fa-key icon"></i>
                            <input type="password" formControlName="newPassword" class="form-control" id="newPassword"
                                placeholder="Enter new password" name="newPassword" [ngModel]=newPassword 
                                (keyup)="comparePasswords(forgotPasswordForm.controls.oldPassword.value,
                                forgotPasswordForm.controls.newPassword.value, forgotPasswordForm.controls.confirmPassword.value)" required>
                            <!-- <i class="fa fa-info info-icon-format" [ngbTooltip]="list"></i> -->
                        </div>
                        <pre class="error-text-format">{{(!forgotPasswordForm.controls.newPassword.valid && forgotPasswordForm.controls.newPassword.dirty) 
                                || (forgotPasswordForm.controls.newPassword.touched && !forgotPasswordForm.controls.newPassword.valid)
                                ? 'Please provide a valid new password' : ''}}</pre>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword"><b>Confirm password:</b></label>
                        <div class="input-container">
                            <i class="fa fa-key icon"></i>
                            <input type="password" formControlName="confirmPassword" class="form-control"
                                id="confirmPassword" placeholder="Enter confirm password" name="confirmPassword"
                                [ngModel]=confirmPassword (keyup)="comparePasswords(forgotPasswordForm.controls.oldPassword.value,
                                forgotPasswordForm.controls.newPassword.value, forgotPasswordForm.controls.confirmPassword.value)" required>
                        </div>
                        <pre class="error-text-format">{{(!forgotPasswordForm.controls.confirmPassword.valid && forgotPasswordForm.controls.confirmPassword.dirty) 
                                || (forgotPasswordForm.controls.confirmPassword.touched && !forgotPasswordForm.controls.confirmPassword.valid)
                                ? 'Please provide a valid confirm password' : ''}}</pre>
                        <pre class="error-text-format">{{!validConfirmPassword ? 'Confirm Password is not same as New Password' : ''}}</pre>
                    </div>
                    <button [disabled]="!forgotPasswordForm.controls.oldPassword.valid || !forgotPasswordForm.controls.newPassword.valid
                    || !forgotPasswordForm.controls.confirmPassword.valid || validOldPassword || !validConfirmPassword" type="submit" 
                    class="btn btn-success btn-block">Change password</button>
                    <div class="form-footer">
                        <p style="text-align: center;"><a href="" [routerLink]="['/']">Sign in</a></p>
                    </div>
                    <ng-template #list>
                        <div class="d-flex flex-column">
                            <span>Please follow the below password policy provided below:</span>
                            <span>a. Password must be at least 8 characters long</span>
                            <span>b. Atleast 1 UPPER CASE letter</span>
                            <span>c. Atleast 1 LOWER CASE letter</span>
                            <span>d. Atleast 1 NUMERIC value</span>
                            <span>e. Atleast 1 CHARACTER allowed (!@$&*)</span>
                        </div>
                    </ng-template>
                </form>
            </section>
        </section>
    </section>
</div>